# 5.- Listas y Tuplas

## 5.2.- Listas

Una lista generalmente tiene datos homogeneos

In [1]:
a = [2,3,1,2,4,3,5,4]

Tambien puede tener datos heterogeneos, como texto y numeros

In [2]:
s=[2,'',3,'23']

El primer elemento siempre es indice 0, y de ahi vas contando

In [3]:
s[0]

2

Usa len para conocer el numero de elementos en nuestra lista

In [4]:
len(s)

4

Y que pasa si le hablamos con indices negativos?

In [7]:
s[-1]

'23'

Los indices siempre deben de ser enteros - y también se vale que sean expresiones

In [8]:
s[1-2]

'23'

PUedes cambiar elementos en particular

In [9]:
s[0]='df'

Pero no en listas de caracteres

¿Que pasa si llamamos un indice fuera de la lista?

In [10]:
s[12]

IndexError: list index out of range

Cada elemento puede usarse como una variable

In [ ]:
a[0]+a[1]

Vamos agregando elementos a una lista vacía

In [11]:
a+=[23]

In [12]:
a

[2, 3, 1, 2, 4, 3, 5, 4, 23]

Y es totalmente viable concatenar 2 listas

In [14]:
a+s

[2, 3, 1, 2, 4, 3, 5, 4, 23, 'df', '', 3, '23']

#### Por tu cuenta

Arma una función que eleve al cuadrado dotos los elementos de una lista. Prueba con una lista con todos los numeros pares del 2 al 20.

In [15]:
v=[]
for i in range(20):
    if i%2==0:
        v+=[i**2]
v
#las listas son mutables, las tuplas no

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

## 5.3.- Tuplas

Vamos comenzando con una tupla vacia

In [16]:
da=(2,3,1,4)

Ahora vamos a añadir 3 elementos a la tupla

In [17]:
da=(1,2,3)

In [18]:
da

(1, 2, 3)

Puedes llamar a los elementos individuales, arma un print que nos diga en que año nació paty (tiene 23 años al 2021)

In [20]:
print(da[0])

1

Es posible acceder a cualquier secuencia de elementos, asignando cada elemnto de la secuencia con una variable separada por comas

In [21]:
paciente=('hugo',[1.80,54])

In [22]:
nombre, datos = paciente

In [24]:
print(nombre, datos)

hugo [1.8, 54]

Si en la tupla solo hay caracteres, vamos a armar un print que nos de cada letra por separado

In [27]:
a,b,c = "ASD"

In [28]:
print(a)
print(b)
print(c)

A
S
D

Y si son valores...

In [ ]:
v,b = (123,23)

También se puede acceder un valor al indexarlo - vamos  arecibir una lista con 3 estudiantes y convertirlo en una tupla enumerada

In [29]:
dfg=(23,123,234,53)
tuple(enumerate(dfg))

((0, 23), (1, 123), (2, 234), (3, 53))

#### Por tu cuenta

Crea una tupla de un solo elemento con el número 582.4 y luego muestrala

#### Por tu cuenta

Muestra que pasa si intentas concatenar una lista de 3 enteros con una tupla de 3 enteros usando +

In [30]:
l=[1,2]
t=(3,4)
l+t

TypeError: can only concatenate list (not "tuple") to list

## 5.4.- Separando Secuencias

Crea una secuencia con todas las potencias de 2 - del 2 al 256

In [32]:
p=[i for i in range(0,256,4)]

In [34]:
print(p, end=',')

[0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 100, 104, 108, 112, 116, 120, 124, 128, 132, 136, 140, 144, 148, 152, 156, 160, 164, 168, 172, 176, 180, 184, 188, 192, 196, 200, 204, 208, 212, 216, 220, 224, 228, 232, 236, 240, 244, 248, 252],

Selecciona el 16 y 32

In [35]:
pp = p[1:-1]
print(pp,end=',')

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 100, 104, 108, 112, 116, 120, 124, 128, 132, 136, 140, 144, 148, 152, 156, 160, 164, 168, 172, 176, 180, 184, 188, 192, 196, 200, 204, 208, 212, 216, 220, 224, 228, 232, 236, 240, 244, 248],

Ahora selecciona los primeros 5 elementos

In [36]:
pp = p[:6]
print(pp,end=',')

[0, 4, 8, 12, 16, 20],

Ahora vamos a seleccionar todos desde el 16 en adelante

In [37]:
pp = p[16:]
print(pp,end=',')

[64, 68, 72, 76, 80, 84, 88, 92, 96, 100, 104, 108, 112, 116, 120, 124, 128, 132, 136, 140, 144, 148, 152, 156, 160, 164, 168, 172, 176, 180, 184, 188, 192, 196, 200, 204, 208, 212, 216, 220, 224, 228, 232, 236, 240, 244, 248, 252],

Si dejamos los : asi nomás, selecciona todo

También podemos seleccionar elementos de 2 en 2 o de 3 en 3 o asi, deja :: y luego va el stepfunction

In [41]:
pp = p[::5]
print(pp,end=',')

[0, 20, 40, 60, 80, 100, 120, 140, 160, 180, 200, 220, 240],

Y si vamos de -3 en -3 significa que empieza desde el final

In [43]:
pp = p[-1::-2]
print(pp,end=',')

[252, 244, 236, 228, 220, 212, 204, 196, 188, 180, 172, 164, 156, 148, 140, 132, 124, 116, 108, 100, 92, 84, 76, 68, 60, 52, 44, 36, 28, 20, 12, 4],

Ahora modifica los nombres de los primeros 3 elementos, - en vez de numero que sea su nombre en letra

In [69]:
p[:4]='sd'
print(p[:10])

['s', 'd', 232, 236, 240, 244, 248, 252]

Mira, si le decimos qu elos elementos 0:2 van a estar [], entonces los borra

In [45]:
p[:10] = []
print(p)

[40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 100, 104, 108, 112, 116, 120, 124, 128, 132, 136, 140, 144, 148, 152, 156, 160, 164, 168, 172, 176, 180, 184, 188, 192, 196, 200, 204, 208, 212, 216, 220, 224, 228, 232, 236, 240, 244, 248, 252]

#### Por tu cuenta

Crea una lista llamada números que contenga los valores del 1 al 15, haz las siguientes operaciones
-selecciona los numeros enteros
-reemplaza los elementos en indices 5 al 9 por 0s
-manten solo los primeros 5 elementos, y muestra la lista resultante
-Borra todos los elementos que quedan

In [73]:
l = list(range(1,16))
l[5:10]=[0,0,0,0,0]
print(l[:5])

[1, 2, 3, 4, 5]

### 5.4.2 - Del

Ahora arma uan lista con todos los multiples de 10 del 0 al 90

In [80]:
m = [(10*i) for i in range(10)]
print(m)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

Borra del 30 al 50

In [81]:
del m[3:6]
print(m)

[0, 10, 20, 60, 70, 80, 90]

A continuación, rearma la lista y borra cada segundo elemento

In [83]:
m = [(10*i) for i in range(10)]
print(m)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [84]:
del m[::2]
print(m)

[10, 30, 50, 70, 90]

Y por último, borra la lista completa

In [86]:
del m
print(m)

NameError: name 'm' is not defined

#### Por tu cuenta

Crea una lista con los numeros del 1 al 15
- borra una parte que contenga los primeros 4 elementos, muestra tu resultado
- Empezando con el primer elemento, borra cada 2do elemento de la lista.

In [87]:
l = list(range(1,16))
print(l)

del l[:5]
print(l)

del l[::2]
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
[6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
[7, 9, 11, 13, 15]

## 5.5.- Listas Ordenadas

Vamos  armar la lista

edad = [65,26,28,36,18]

In [89]:
edad = [65,26,28,36,18]

Ahora vamos a ordenarla usando sort()

In [90]:
edad.sort()
print(edad)

[18, 26, 28, 36, 65]

Ahora vamos aordenarla usando sort(reverse=true)

In [91]:
edad.sort(reverse=True)
print(edad)

[65, 36, 28, 26, 18]

También se puede usar la función sorted, que es una función que devuelve otra lista

In [95]:
k = sorted(edad)
print(k)

k = sorted(edad, reverse=True)
print(k)

[18, 26, 28, 36, 65]
[65, 36, 28, 26, 18]

Se pueden ordenar cadenas de caracters

In [98]:
n = 'leninACOSTA'
ordd = sorted(n)
print(ordd)

['A', 'A', 'C', 'O', 'S', 'T', 'e', 'i', 'l', 'n', 'n']

Y también las tuplas, pero solo usando sorted

In [103]:
r=(2,4,3,1,4,2,4)
tupord = sorted(r)
print(tupord)

[1, 2, 2, 3, 4, 4, 4]

### 5.5.2.- Buscando Secuencias

Ahora arma la lista

edad = [65,12,19,80,36,28,16,18,36,16,45,32,36,59]

In [105]:
edad = [65,12,19,80,36,28,16,18,36,16,45,32,36,59]

Y busca en ella la edad 45 usando el método index()

In [106]:
i = edad.index(45)

In [107]:
i

10

Si buscas algo que no esta, como 43, el resultado es...

In [108]:
i = edad.index(452)

ValueError: 452 is not in list

Tambien puedes usar el comando in, checa si 56 está in edad

In [109]:
b = 45 in edad
b

True

### 5.5.3.- Otros Métodos de Lista

Arma una ensalada

vegetales = ['espinaca','apio']

In [113]:
vegetales = ['espinaca','apio']

Usa el método insert() para meter 'lechuga' en la posición 0

In [114]:
vegetales.insert(0,'lechuga')

In [115]:
vegetales

['lechuga', 'espinaca', 'apio']

Usa el método append() para meter 'esparragos' al final

In [116]:
vegetales.append('esparragos')

In [117]:
vegetales

['lechuga', 'espinaca', 'apio', 'esparragos']

Agrega el precio usando el comando extend

Precio = (10,15,8,30)

In [120]:
precio = (10,15,8,30)
vegetales.extend(precio)

In [121]:
vegetales

['lechuga',
 'espinaca',
 'apio',
 'esparragos',
 's',
 'd',
 232,
 236,
 240,
 244,
 248,
 252,
 10,
 15,
 8,
 30]

Quitale los esparragos a la ensalada usando remove()

In [122]:
vegetales.remove('esparragos')

In [123]:
vegetales

['lechuga',
 'espinaca',
 'apio',
 's',
 'd',
 232,
 236,
 240,
 244,
 248,
 252,
 10,
 15,
 8,
 30]

Tira la ensalada y ve por un platillo de hombre usando vegetales.clear()

In [124]:
vegetales.clear()
vegetales = ['carne asada','refresco','cerveza','pollo a la plancha']
vegetales

['carne asada', 'refresco', 'cerveza', 'pollo a la plancha']

### 5.5.4.- Contar

Arma una lista de edades

 edades = [15, 21, 16, 19, 20, 16, 19, 15, 21, 17, 18, 24, 20, 24, 21, 19, 18, 16, 19, 16]

In [125]:
edades = [15, 21, 16, 19, 20, 16, 19, 15, 21, 17, 18, 24, 20, 24, 21, 19, 18, 16, 19, 16]

In [127]:
c = edades.count(16)
c

4

Usa count para saber cuantas vecs aparece la edad 16

Arma un for para contar cuantas veces se repite cada edad entre 15 a 25 en la lista

imprime tus resultados con la frase
La edad 15 se repite 2 veces
y asi...

In [128]:
for i in range(min(edades),max(edades)+1):
    print('el ',i,' se repite ',edades.count(i),'veces')

el  15  se repite  2 veces
el  16  se repite  4 veces
el  17  se repite  1 veces
el  18  se repite  2 veces
el  19  se repite  4 veces
el  20  se repite  2 veces
el  21  se repite  3 veces
el  22  se repite  0 veces
el  23  se repite  0 veces
el  24  se repite  2 veces

Arma tu ensalada de nuevo

 vegetales = ['lechuga','espinaca','apio','pepinillo']

In [130]:
vegetales = ['lechuga','espinaca','apio','pepinillo']

Usa reverse para darle la vuelta

In [132]:
vegetales.reverse()

In [133]:
vegetales

['pepinillo', 'apio', 'espinaca', 'lechuga']

Prepara una seguna ensalada usando copy

In [135]:
v2 = vegetales.copy()

In [136]:
v2

['pepinillo', 'apio', 'espinaca', 'lechuga']

## 5.6.- Comprensión de Listas

Vamos a armar una lista con todos los numeros del 1 al 10 de la manera mas mensa posible

empeiza con lista vacia, y luego un for que haga un append de todos los numeros del 1 al 10

In [137]:
lista = [i for i  in range(1,11)]
lista

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Ahora hacemos lo mismo con la comprensión de listas

In [138]:
lista = list(range(12))

Tambien de plano podemos reemplazar todo eso por range

Ahora vamos a mapear - hacer calculos dentro de la comprension de listas, en este caso todos los cuadrados del 1 al 10

In [140]:
l = [i**2 for i in range(10)]
l

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Ahora vamos a generar una comprensión de lista con filtro - todos los cuadrados del 1 al 10 siempre y cuando sean menores a 50

In [142]:
l = [i**2 for i in range(10)  if i**2<50]
l

[0, 1, 4, 9, 16, 25, 36, 49]

Que tal que queremos una comprension de lista d etodos los cuadrados pares del 1 al 10?

In [143]:
l = [i**2 for i in range(10)  if i**2%2==0]
l

[0, 4, 16, 36, 64]

Vuelve a armar tu ensalada

 vegetales = ['apio','brocoli','lechuga']

In [148]:
vegetales = ['apio','brocoli','lechuga']

Arma una comprensión de lista que cambie todos estos a mayusculas

In [149]:
v2 = [i.upper() for i in vegetales]

In [150]:
v2

['APIO', 'BROCOLI', 'LECHUGA']

#### Por tu cuenta

Arma una comprensión de lista que te devuelva tuplas de todos los numeros del 1 al 6 y sus cubos

In [152]:
w=[(i,i**3) for i in range(1,7)]
w

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125), (6, 216)]

#### Por tu cuenta

Arma una comprensión de lista que te devuelva todos los mutliples de 3 menores a 60

In [155]:
m = [i*3 for i in range(1,20)]
m

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57]

### 5.6.2.- Generador de Expresiones

Arma esta lista

lista = [-3,5,8,4,1,-6,7,10]

In [156]:
lista = [-3,5,8,4,1,-6,7,10]

Arma un for que te muestre los cuadrados pares de esta lista

In [ ]:
l2 = [i**2 for i in lista]
l2

Ahora checa como podemos hacer lo mismo con el generador de expresiones

In [160]:
l3 = (i**2 for i in lista)
list(l3)

[9, 25, 64, 16, 1, 36, 49, 100]

Y para ver los resultados usa list()

In [ ]:
l3 = (i**2 for i in [9, 25, 64, 16, 1, 36, 49, 100])
list(l3)

#### Por tu cuenta

Crea una expresion generadora que eleve al cubo los enteros pares en uan lista que contiene 10,3,7,1,9,4

In [161]:
l3 = (i**2 for i in [10,3,7,1,9,4] if i%2==0)
list(l3)

[100, 16]

### 5.6.3.- Filtrar, mapear y reducir

Primero vamos a definir una funcion que cheque si un numero es par

usaremos la lista lista=[-3,5,8,4,1,-6,7,10]

In [162]:
def par(i):
    return i%2==0

In [165]:
lista=[-3,5,8,4,1,-6,7,10]
list(filter(par,lista))

[8, 4, -6, 10]

Ahoa vamos a filtrar la lista usando esta nueva función

Podemos usar la comprensión de listas y nuestra nueva función para armar una lista

In [166]:
[i for i in lista if i%2==0]

[8, 4, -6, 10]

Cuando la funcion es tan sencilla, es mejor usar un lambda que andarla definiendo, como en este caso que hacemos lo mismo pero con lambda

In [167]:
list(filter(lambda i:i%2==0,lista))

[8, 4, -6, 10]

Vamos a usar lambda y map para mostrar una comprensión de lista que eleva todo al cubo, la lsita a usar sera

[-3, 5, 8, 4, 1, -6, 7, 10]

In [170]:
list(map(lambda i:i%2==0,lista))

[False, False, True, True, False, True, False, True]

Podemos laograr lo mismo sin map

In [171]:
[i**3 for i in lista]

[-27, 125, 512, 64, 1, -216, 343, 1000]

#### Por tu cuenta

Crea una lista con numeros del 1 al 15 y luego
- crea una nueva lista de los elementos impares
- crea una nueva lista usando map y lambda para elevar al cuadrado a todos
- filtra los elementos impares y luego mapealos a sus cuadrados

In [174]:
l = [i for i in range(1,16)]
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [176]:
l2 = [i for i in l if i%2 != 0]
l2

[1, 3, 5, 7, 9, 11, 13, 15]

In [178]:
list(map(lambda i:i**2, l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225]

In [179]:
list(map(lambda i:i**2,filter(lambda i:i%2!=0, l)))

[1, 9, 25, 49, 81, 121, 169, 225]

## 5.7.- Listas de 2 Dimensiones

Es posible crear una lista de 2 dimensiones en python

In [181]:
m = [[j for i in range(10)] for j in range(10)]
m

[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
 [2, 2, 2, 2, 2, 2, 2, 2, 2, 2],
 [3, 3, 3, 3, 3, 3, 3, 3, 3, 3],
 [4, 4, 4, 4, 4, 4, 4, 4, 4, 4],
 [5, 5, 5, 5, 5, 5, 5, 5, 5, 5],
 [6, 6, 6, 6, 6, 6, 6, 6, 6, 6],
 [7, 7, 7, 7, 7, 7, 7, 7, 7, 7],
 [8, 8, 8, 8, 8, 8, 8, 8, 8, 8],
 [9, 9, 9, 9, 9, 9, 9, 9, 9, 9]]

# 5.8.- Visualización de Datos Estáticos

Importa las librerias

In [ ]:
import matplotlib
import seaborn

Crea la grafica de barras incial

Pon la ventana y etiqueta los ejes

Finaliza la grafica de barras

Tira de nuevo usando magia

Guarda tu programa usando magia