# 7.- Arreglos con NUMPY

En este capítulo aprenderás a utilizar algunas cualidades básicas de NumPy (Numerical Python).
NumPy es una de las librerías más populares de Python, ya que puede procesar listas de múltiples
dimensiones

## 7.2.- Arreglo de Datos

Como en la sección anterior, invocaremos a la librería NumPy como np

In [3]:
import numpy as np

Armemos un arreglo de todos los factoriales del 1 al 6

In [4]:
fac = np.array([1,6,24,120,720])
fac

array([  1,   6,  24, 120, 720])

Verifica el tipo de objeto que generamos

In [3]:
type(fac)

numpy.ndarray

La función array copia automáticamente las dimensiones del argumento. Por ejemplo, el siguiente arreglo (array) está formado por tres filas y dos columnas.

In [6]:
dim = np.array([[1,2,3],[4,5,6],[7,8,9]])
dim

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

#### Por tu cuenta

Arma un arreglo de una dimensión desde una compresnidón de lista que produce todos los números nones del 1 al 30

In [3]:
dim = np.array([i for i  in range(1,31,1) if not i%2==0])
dim

array([ 1,  3,  5,  7,  9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29])

### 7.2.2 - Atributos de Arreglos

En esta sección usaremos los siguientes 2 arreglos

enteros = np.array([[9,10,11,12],[8,7,6,5]])

flotantes=np.array([[9**(1/2),10**(1/2),3.33,],[10/3,3.4,3.03]])

In [4]:
enteros = np.array([[9,10,11,12],[8,7,6,5]])
flotantes=np.array([[9**(1/2),10**(1/2),3.33,],[10/3,3.4,3.03]])

Checa el tipo de elemento con dtype

In [7]:
print(enteros.dtype)
print(flotantes.dtype)

int64
float64

Revisa que puedes ver dimensione con ndim y forma con shape del arreglo

In [8]:
enteros.ndim

2

In [11]:
enteros.shape #(filas, columnas)

(2, 4)

Size y itemsize te permite conocer el numero de elemntos y de bytes para almacenar

In [12]:
enteros.size

8

In [13]:
enteros.itemsize

8

Se puede iterar facilmente a través de un arreglo

In [15]:
for fila in flotantes:
    for columna in fila:
        print(columna, end=', ')
    print()

3.0, 3.1622776601683795, 3.33,
3.3333333333333335, 3.4, 3.03,

#### Por tu cuenta

Para el arreglo que armaste en el "Por tu cuenta" previo, checa el numero de dmiensiones y forma del arreglo

In [16]:
dim.ndim

1

In [17]:
dim.shape

(15,)

### 7.2.3 - Creando Arreglos desde Rangos

La función arange (una sola R!!!!) nos permite crear rangos de enteros. Crea:

- Un arreglo del 0 al 7
- Un arreglo del 3 al 7
- Un arreglo del 12 al 2 en pasos de 3 en 3 (si, en orden inverso)

In [18]:
arange1 = np.arange(8)
arange1

array([0, 1, 2, 3, 4, 5, 6, 7])

In [19]:
arange1 = np.arange(3,8)
arange1

array([3, 4, 5, 6, 7])

In [21]:
arange1 = np.arange(12,2,-3)
arange1

array([12,  9,  6,  3])

Tambien se pueden usar tamaños de paso no enteros. Crea un arreglo con linspace de 0 al 1 que vaya de .25 en .25

In [25]:
lin = np.linspace(0, 1, num=100)
lin

array([0.        , 0.01010101, 0.02020202, 0.03030303, 0.04040404,
       0.05050505, 0.06060606, 0.07070707, 0.08080808, 0.09090909,
       0.1010101 , 0.11111111, 0.12121212, 0.13131313, 0.14141414,
       0.15151515, 0.16161616, 0.17171717, 0.18181818, 0.19191919,
       0.2020202 , 0.21212121, 0.22222222, 0.23232323, 0.24242424,
       0.25252525, 0.26262626, 0.27272727, 0.28282828, 0.29292929,
       0.3030303 , 0.31313131, 0.32323232, 0.33333333, 0.34343434,
       0.35353535, 0.36363636, 0.37373737, 0.38383838, 0.39393939,
       0.4040404 , 0.41414141, 0.42424242, 0.43434343, 0.44444444,
       0.45454545, 0.46464646, 0.47474747, 0.48484848, 0.49494949,
       0.50505051, 0.51515152, 0.52525253, 0.53535354, 0.54545455,
       0.55555556, 0.56565657, 0.57575758, 0.58585859, 0.5959596 ,
       0.60606061, 0.61616162, 0.62626263, 0.63636364, 0.64646465,
       0.65656566, 0.66666667, 0.67676768, 0.68686869, 0.6969697 ,
       0.70707071, 0.71717172, 0.72727273, 0.73737374, 0.74747475,
       0.75757576, 0.76767677, 0.77777778, 0.78787879, 0.7979798 ,
       0.80808081, 0.81818182, 0.82828283, 0.83838384, 0.84848485,
       0.85858586, 0.86868687, 0.87878788, 0.88888889, 0.8989899 ,
       0.90909091, 0.91919192, 0.92929293, 0.93939394, 0.94949495,
       0.95959596, 0.96969697, 0.97979798, 0.98989899, 1.        ])

Y se puede cambiar la forma del arreglo con reshape. Crea un arreglo con arange que vaya del 21 al 1 en orden inverso, y luego dale forma de matriz de 4x5

In [34]:
resh=np.arange(21,1,-1)
print(resh)
nresh = resh.reshape(4,5)
print(nresh)

[21 20 19 18 17 16 15 14 13 12 11 10  9  8  7  6  5  4  3  2]
[[21 20 19 18 17]
 [16 15 14 13 12]
 [11 10  9  8  7]
 [ 6  5  4  3  2]]

Checate que si el arreglo tiene 1000 o más elementos, numpy no muestra la totalidad de los datos. Generaun arreglo de 0 a 9999 y dale forma de 5 x 2000

In [38]:
np.arange(10000).reshape(2000,5)

array([[   0,    1,    2,    3,    4],
       [   5,    6,    7,    8,    9],
       [  10,   11,   12,   13,   14],
       ...,
       [9985, 9986, 9987, 9988, 9989],
       [9990, 9991, 9992, 9993, 9994],
       [9995, 9996, 9997, 9998, 9999]])

#### Por tu cuenta

Usa la función arange para crear una rreglo de 20 enteros pares del 42 al 80, y luego rearmalo en una matriz de 4x5

In [42]:
var1 = np.arange(42,81,2)
print(var1)
var2 = var1.reshape(4,5)
print(var2)

[42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80]
[[42 44 46 48 50]
 [52 54 56 58 60]
 [62 64 66 68 70]
 [72 74 76 78 80]]

### 7.2.4 - ¿Que tan más rapido es un arreglo?

Usa la magia %timeit y la librería random para crear una comprensión de lista que simule un tiro de dao 6000000 de veces y medir su tiempo

In [44]:
import random as rn
%timeit tiros1 = [rn.randint(1,7) for i  in range(6000000)]

5.73 s ± 77.6 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

Ahora usa %timeit para medir el tiempo de un tiro de dado 6000000 de veces pero hecho con arreglo

In [45]:
%timeit tiros2 = np.random.randint(1,7,6000000)

76.9 ms ± 53.1 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

#### Por tu cuenta

Usa %timeit para ver que es mas rapido - una lista que sume todos los enteros del 0 al 9 999 999 o un arreglo que haga lo mismo con el metodo sum

In [64]:
s=0
for i in range(9999999):
    s=s+i 
print(s)

49999985000001

In [67]:
var3 = np.arange(999999999)
sum(var3)

499999998500000001

## 7.3.- Operaciones con Arreglos

Arma un arreglo de todos los pares del 2 al 15.

- Sumale 1 al arreglo
- Multiplicalo por 3
- Sacale raiz cuadrada

In [69]:
var1 = np.arange(2,15)
var1

array([ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [71]:
var1 = var1+1
var1

array([ 3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15])

In [72]:
var1 = var1*3
var1

array([ 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45])

In [73]:
var1 = var1**1/2
var1

array([ 4.5,  6. ,  7.5,  9. , 10.5, 12. , 13.5, 15. , 16.5, 18. , 19.5,
       21. , 22.5])

Al mismo arreglo, aplicale un +=10

In [76]:
var1+=10
var1

array([24.5, 26. , 27.5, 29. , 30.5, 32. , 33.5, 35. , 36.5, 38. , 39.5,
       41. , 42.5])

Arma un arreglo (lista1) que vaya del 2 al 18 de 3 en 3, y otro arreglo (lista2) usando linspace que vaya del -2 al 20 dividido en 6 numeros

- Resta lista1 de lista2
- divide lista2 entre lista1

In [4]:
var1 = np.arange(2,19,3)
var2 = np.linspace(2,20,num=6)
print(var1)
print(var2)

[ 2  5  8 11 14 17]
[ 2.   5.6  9.2 12.8 16.4 20. ]

In [78]:
var2 - var1

array([0. , 0.6, 1.2, 1.8, 2.4, 3. ])

También puedes comparar los arreglos

In [5]:
var2 > var1

array([False,  True,  True,  True,  True,  True])

#### Por tu cuenta

Crea un arreglo de los valores que vayan del 1 al 5, y luego elvealo al cuadrado usando **

In [8]:
var1 = np.arange(1,6)
print(var1)
var1 = var1**2
print(var1)

[1 2 3 4 5]
[ 1  4  9 16 25]

### 7.3.2.- Métodos de Cálculo

Considera el siguiente arreglo 

ventas=np.array( [[554,606,710,851],[1244,898,416,1763],
 [841,655,1105,1067]])

In [9]:
ventas=np.array( [[554,606,710,851],[1244,898,416,1763], [841,655,1105,1067]])
print(ventas)

[[ 554  606  710  851]
 [1244  898  416 1763]
 [ 841  655 1105 1067]]

Podemos usar métodos para calcular la sum, min, max, mean, std, var.

In [10]:
ventas.mean()

892.5

In [11]:
ventas.sum()

10710

In [12]:
ventas.min()

416

In [13]:
ventas.max()

1763

In [14]:
ventas.std()

350.56656524355924

In [15]:
ventas.var()

122896.91666666667

También es posible hacerlo por filas y columnas. Checa como se hace con axis = 1 y 0

In [16]:
ventas.mean(axis=0) #calcula en relacion a las columnas

array([ 879.66666667,  719.66666667,  743.66666667, 1227.        ])

In [17]:
ventas.mean(axis=1) #calcula en relacion a las filas

array([ 680.25, 1080.25,  917.  ])

#### Por tu cuenta

Usa el generador de numeros aleatoreos de numpy (np.random.randint) para crear una rreglo de 12 calificaciones aleatorias del 60 al 100, y luego dale forma en una matriz de 3x4. Calcula el promedio de todas las calificaciones, el promedio de cada columna y de cada fila.

In [19]:
var1 = np.random.randint(60,100,12).reshape(3,4)
print(var1)

[[84 70 71 77]
 [99 70 89 80]
 [77 75 67 85]]

In [20]:
var1.mean(axis=0) #columna

array([86.66666667, 71.66666667, 75.66666667, 80.66666667])

In [21]:
var1.mean(axis=1) #fila

array([75.5, 84.5, 76. ])

## 7.4.- Indexando y Cortando arreglos

Crea el arreglo

ventas=np.array ([[ 554, 606, 710, 851],
 [1244, 898, 416, 1763],
 [ 841, 655, 1105, 1067]])
 
 - Selecciona el item 2,1
 - Selecciona el item 1,3
 - Selecciona la fila 1

In [23]:
ventas=np.array ([[ 554, 606, 710, 851], [1244, 898, 416, 1763], [ 841, 655, 1105, 1067]])
print(ventas)

[[ 554  606  710  851]
 [1244  898  416 1763]
 [ 841  655 1105 1067]]

In [25]:
ventas[2,1] #[fila,columna]

655

In [26]:
ventas[1,3]

1763

In [27]:
ventas[1,:]

array([1244,  898,  416, 1763])

Solicita las filas con índices 0 y 1

In [29]:
ventas[:2]

array([[ 554,  606,  710,  851],
       [1244,  898,  416, 1763]])

Ahora para solicitar las filas con indices 1 y 2

In [30]:
ventas[1:3]

array([[1244,  898,  416, 1763],
       [ 841,  655, 1105, 1067]])

Quieres solo los elementos de la primera columna?

In [32]:
ventas[:,0]

array([ 554, 1244,  841])

Que la las columnas con indices 0 y 2?

In [34]:
ventas[:,[0,2]]

array([[ 554,  710],
       [1244,  416],
       [ 841, 1105]])

#### Por tu cuenta

Dado el siguiente arreglo

array([[1,2,3,4,5],
     [6,7,8,9,10],
     [11,12,13,14,15]])

- Selecciona la segunda fila
- Selecciona la primera y tercera fila
- Selecciona las tres columnas de enmedio

In [36]:
var1=np.array([[1,2,3,4,5], [6,7,8,9,10], [11,12,13,14,15]])
print(var1)

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]]

In [37]:
var1[1]

array([ 6,  7,  8,  9, 10])

In [39]:
var1[[0,2],:]

array([[ 1,  2,  3,  4,  5],
       [11, 12, 13, 14, 15]])

In [40]:
var1[:,[1,2,3]]

array([[ 2,  3,  4],
       [ 7,  8,  9],
       [12, 13, 14]])

### 7.4.2.- Transponer

Con **reshape** puedes producir una copia superficial del arreglo con una nueva dimension. 

ventas = np.array([[ 500, 600, 550, 800],
 [1200, 800, 400,1000]])

Usa el arreglo anterior para darle dimension de 1x8

In [41]:
ventas = np.array([[ 500, 600, 550, 800], [1200, 800, 400,1000]])

In [43]:
ventas.reshape(1,8) #no modifica ele original

array([[ 500,  600,  550,  800, 1200,  800,  400, 1000]])

In [44]:
ventas

array([[ 500,  600,  550,  800],
       [1200,  800,  400, 1000]])

El metodo **resize** modifica la forma del original (no crea copia)

In [45]:
ventas.resize(1,8)

In [46]:
ventas

array([[ 500,  600,  550,  800, 1200,  800,  400, 1000]])

Y **transpose** rapidamente le da la vuelta a filas y columnas, este se hace aplicando el atributo T, que no modifica el original, solo una vista.

In [47]:
ventas = np.array([[ 500, 600, 550, 800], [1200, 800, 400,1000]])
ventas.T #no modifica el original

array([[ 500, 1200],
       [ 600,  800],
       [ 550,  400],
       [ 800, 1000]])

In [48]:
ventas

array([[ 500,  600,  550,  800],
       [1200,  800,  400, 1000]])

## 7.5.- Pandas - Series

Vamos a usar estos datos para Series - tiempo_web = pd.Series([160,256,98,108])

Este es el tiempo que invierten en videojuegos 4 estudiantes

In [49]:
import pandas as pd

In [50]:
tiempo_web = pd.Series([160,256,98,108])

In [51]:
tiempo_web

0    160
1    256
2     98
3    108
dtype: int64

Para crear una serie con el mismo elemento

In [52]:
var1 = pd.Series(3.14,range(5))

In [53]:
var1

0    3.14
1    3.14
2    3.14
3    3.14
4    3.14
dtype: float64

Acceder a un elemento es facil

In [54]:
var1[0]

3.14

Series tiene acceso a los mismos metodos que arreglos para estadistica descriptiva

In [55]:
tiempo_web.mean()

155.5

Tambien, todo esto se puede resumir con **describe**

In [56]:
tiempo_web.describe()

count      4.000000
mean     155.500000
std       72.302605
min       98.000000
25%      105.500000
50%      134.000000
75%      184.000000
max      256.000000
dtype: float64

También podemos personalizar los indices de series a traves de index

['Laura','Daniel','Alberto','Eva'] 

Asigna esos nombres

In [57]:
tiempo_web = pd.Series([160,256,98,108],index=['Laura','Daniel','Alberto','Eva'])

In [58]:
tiempo_web

Laura      160
Daniel     256
Alberto     98
Eva        108
dtype: int64

In [59]:
tiempo_web['Eva']

108

O puedes usar un diccionario para eso:

In [60]:
tiempo_web = pd.Series({'eva':22,'lenin':23})

In [61]:
tiempo_web

eva      22
lenin    23
dtype: int64

Puedes llamar a los elementos personalizados

In [62]:
tiempo_web['lenin']

23

Tambien se pueden llamar como atributos

In [63]:
tiempo_web.lenin

23

#### Por tu cuenta

Usa el generador aleatorio de NumPy (np.random.randint) para generar 6 calificaciones del 60 al 100 y guardarlos en una serie. 

A continuación arma las siguientes tareas:

- Convierte el arreglo en una serie llamada calificacion
- Determina la min, max y promedio
- Produce TODAS las estadisticas descriptivas

In [65]:
var1 = np.random.randint(20,100,6)
var1

array([97, 76, 32, 22, 70, 79])

In [67]:
calificacion = pd.Series(var1)
calificacion

0    97
1    76
2    32
3    22
4    70
5    79
dtype: int64

In [68]:
calificacion.min()

22

In [69]:
calificacion.max()

97

In [70]:
calificacion.mean()

62.666666666666664

In [71]:
calificacion.describe()

count     6.000000
mean     62.666667
std      29.227841
min      22.000000
25%      41.500000
50%      73.000000
75%      78.250000
max      97.000000
dtype: float64

## 7.6.- Pandas - DataFrames

##### Crear un Dataframe de un diccionario

Agarra este diccionario y conviertelo en un dataframe

 reg_peso = {'Vanesa':[68,67,66,65],'Kevin':[89,89,90,88],
 'Fernanda':[59,60,60,62],'Patricia':[70,68,67,65]}

In [73]:
reg_peso = {'Vanesa':[68,67,66,65],'Kevin':[89,89,90,88], 'Fernanda':[59,60,60,62],'Patricia':[70,68,67,65]}
reg_peso

{'Vanesa': [68, 67, 66, 65],
 'Kevin': [89, 89, 90, 88],
 'Fernanda': [59, 60, 60, 62],
 'Patricia': [70, 68, 67, 65]}

In [74]:
peso = pd.DataFrame(reg_peso)
peso

   Vanesa  Kevin  Fernanda  Patricia
0      68     89        59        70
1      67     89        60        68
2      66     90        60        67
3      65     88        62        65

In [75]:
peso.Patricia

0    70
1    68
2    67
3    65
Name: Patricia, dtype: int64

In [77]:
peso['Fernanda']

0    59
1    60
2    60
3    62
Name: Fernanda, dtype: int64

##### El atributo Index

Añade los siguientes indices personalizados

peso.index = ['Mes 1','Mes 2','Mes 3','Mes 4']

In [78]:
peso.index = ['Mes 1','Mes 2','Mes 3','Mes 4']

In [79]:
peso

       Vanesa  Kevin  Fernanda  Patricia
Mes 1      68     89        59        70
Mes 2      67     89        60        68
Mes 3      66     90        60        67
Mes 4      65     88        62        65

##### Accesar Columnas

Selecciona la información de Fernanda

In [80]:
peso['Fernanda']

Mes 1    59
Mes 2    60
Mes 3    60
Mes 4    62
Name: Fernanda, dtype: int64

Selecciona la de Patricia pero como atributo

In [81]:
peso.Patricia

Mes 1    70
Mes 2    68
Mes 3    67
Mes 4    65
Name: Patricia, dtype: int64

##### Loc y iloc

Selecciona la información del Mes1 usando Loc

In [83]:
peso.loc['Mes 1']

Vanesa      68
Kevin       89
Fernanda    59
Patricia    70
Name: Mes 1, dtype: int64

Ahora solo la fila 1 usando iloc

In [84]:
peso.iloc[1]

Vanesa      67
Kevin       89
Fernanda    60
Patricia    68
Name: Mes 2, dtype: int64

Ahora del Mes 1 al Mes 3 usando loc

In [85]:
peso.loc['Mes 1':'Mes 3']

       Vanesa  Kevin  Fernanda  Patricia
Mes 1      68     89        59        70
Mes 2      67     89        60        68
Mes 3      66     90        60        67

Saca filas especificas (mes 1 y 3) usando loc

In [89]:
peso.loc[['Mes 1','Mes 3']]

       Vanesa  Kevin  Fernanda  Patricia
Mes 1      68     89        59        70
Mes 3      66     90        60        67

Y ahora los Meses 2 y 3 de Vanesa y Patricia solamente con loc

In [90]:
peso.loc[['Mes 2','Mes 3'],['Vanesa','Patricia']]

       Vanesa  Patricia
Mes 2      67        68
Mes 3      66        67

##### Indices Booleanos

Dime los pesos mayores a 70kg en la tabla

In [91]:
peso[peso>=70]

       Vanesa  Kevin  Fernanda  Patricia
Mes 1     NaN     89       NaN      70.0
Mes 2     NaN     89       NaN       NaN
Mes 3     NaN     90       NaN       NaN
Mes 4     NaN     88       NaN       NaN

Y ahora los pesos mayores a 65kg y menores a 80kg

In [96]:
peso[peso>64 & (peso<80)]

       Vanesa  Kevin  Fernanda  Patricia
Mes 1      68     89        59        70
Mes 2      67     89        60        68
Mes 3      66     90        60        67
Mes 4      65     88        62        65

##### Accesar una celda especifica de un Dataframe

Que pasa si solo queremos cuanto pesaba Patricia en el mes 3? Usa at

In [99]:
peso.at['Mes 3','Patricia']

67

Resulta que Kevin en realidad pesaba 85kg en el mes 4, cambia su valor usando at

##### Estádistica descriptiva

Puedes usar el metodo **Describe** para sacar todas las estadisticas del dataframe

También puedes cambiar la cantidad de decimales usando **Precision**

Y también se pueden aplicar los metodos de estadistica descriptiva individuales como mean

##### Transponer

Si quisieramos voltear el dataframe, tendríamos que hacer el método T

Y ahora eso nos ayudaría a sacar los estadísticos para los meses en vez de para las personas

Y el peso promedio por mes de nuestra gente

##### Ordenar el Dataframe

Ahora vamos a arreglar el dataframe por fila, con los indices en orden descendente

Las columnas en orden ascendente

Y también se vale ordenar los valores según una fila o columna especifica.  El siguiente código ordena de forma descendente los datos del DataFrame con respecto
a los valores del Mes 1.